body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

#sidebar h2, #sidebar p {
    text-align: center;
    font-style: italic;
}

#sidebar > ul > li {
    list-style-type: none;
    margin-bottom: 10px;
}

#sidebar > h3 {
    margin-left: 25px;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
    margin-top: -10px;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}
.prev_next {
    border: 1px solid #00abff;
    border-radius: 2px;
    padding: 5px;
    margin: 0 5px;
}
.prev_next:hover {
    border: 1px solid #0026ff;
    color: #0026ff;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}
input[type=submit]:hover {
    background:#0077ff;
    cursor: pointer;
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
.tags {
    display: inline-block;
    font-style: italic;
}
.individual_tags {
    background: #efefef;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #00abff;
    border-radius: 11px;
    display: inline;
    margin: 0 2.5px;
}
.individual_tags:hover {
    background: #ddd8d8;
}